# iphone 购机方案

In [5]:
import sys
!conda install --yes --prefix {sys.prefix} lxml

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.8.3
  latest version: 4.9.2

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

In [29]:
import pandas
dfs=pandas.read_html('https://www.cht.com.tw/home/apple/iphone/index')

In [30]:
df=dfs[0]

In [31]:
df.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699"
0,購機優惠價(元),48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月
1,購機優惠價(元),iPhone 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0

In [32]:
#extrat those row that contains info "個月"
df[df['月繳金額.1'].str.contains("個月")]

        月繳金額 月繳金額.1 月繳金額.2  $599  $799  $999 $1199 $1,399 $1,599 $1,799 $2,699
0   購機優惠價(元)   48個月   48個月  48個月  48個月  48個月  48個月   48個月   48個月   48個月   48個月
15  購機優惠價(元)   36個月   36個月  36個月  36個月  36個月  36個月   36個月   36個月   36個月   36個月
30  購機優惠價(元)   30個月   30個月  30個月  30個月  30個月  30個月   30個月   30個月   30個月   30個月
45  購機優惠價(元)   24個月   24個月  24個月  24個月  24個月  24個月   24個月   24個月   24個月   24個月

In [33]:
#regular expression 
df['month']=df['月繳金額.1'].str.extract('(\d+)個月')

In [34]:
df.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
0,購機優惠價(元),48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48
1,購機優惠價(元),iPhone 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,NaN
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,NaN
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,NaN

In [35]:
#fill the month column 
df['month']=df[ 'month'].ffill()

In [36]:
df.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
0,購機優惠價(元),48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48
1,購機優惠價(元),iPhone 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48

In [37]:
#deleat th NaN lines
df.dropna(inplace=True)

In [38]:
df.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
0,購機優惠價(元),48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48
6,購機優惠價(元),iPhone 12 Pro,128GB,-,-,20300,17800,6300,4300,2300,0,48

In [40]:
#exclude "個月" inofrmation lines
df2=df[~df['月繳金額.1'].str.contains('個月')]

In [42]:
df2.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48
6,購機優惠價(元),iPhone 12 Pro,128GB,-,-,20300,17800,6300,4300,2300,0,48
7,購機優惠價(元),iPhone 12 Pro,256GB,-,-,23800,21300,9800,7800,5800,0,48

In [44]:
df2.columns

Index(['月繳金額', '月繳金額.1', '月繳金額.2', '$599', '$799', '$999', '$1199', '$1,399',
       '$1,599', '$1,799', '$2,699', 'month'],
      dtype='object')

In [48]:
df2.columns=['月繳金額', '机型', '容量', '$599', '$799', '$999', '$1199', '$1,399',
       '$1,599', '$1,799', '$2,699', 'month']

In [49]:
df2.head()

,月繳金額,机型,容量,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48
6,購機優惠價(元),iPhone 12 Pro,128GB,-,-,20300,17800,6300,4300,2300,0,48
7,購機優惠價(元),iPhone 12 Pro,256GB,-,-,23800,21300,9800,7800,5800,0,48

In [52]:
df3=pandas.wide_to_long(df2,['$'],i=['月繳金額', '机型', '容量','month'],j='monthly_price',suffix='[\d,]+')

                                                          $
月繳金額     机型                容量    month monthly_price
購機優惠價(元) iPhone 12         64GB  48    599                -
                                       799                -
                                       999            13300
                                       1199           10800
                                       1,399              0
...                                                     ...
         iPhone 12 Pro Max 512GB 24    1199           39400
                                       1,399          34800
                                       1,599          33800
                                       1,799          30800
                                       2,699          21800

[384 rows x 1 columns]