# iphone 购机方案

In [5]:
import sys
!conda install --yes --prefix {sys.prefix} lxml

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.8.3
  latest version: 4.9.2

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

In [29]:
import pandas
dfs=pandas.read_html('https://www.cht.com.tw/home/apple/iphone/index')

In [30]:
df=dfs[0]

In [31]:
df.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699"
0,購機優惠價(元),48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月
1,購機優惠價(元),iPhone 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0

In [32]:
#extrat those row that contains info "個月"
df[df['月繳金額.1'].str.contains("個月")]

        月繳金額 月繳金額.1 月繳金額.2  $599  $799  $999 $1199 $1,399 $1,599 $1,799 $2,699
0   購機優惠價(元)   48個月   48個月  48個月  48個月  48個月  48個月   48個月   48個月   48個月   48個月
15  購機優惠價(元)   36個月   36個月  36個月  36個月  36個月  36個月   36個月   36個月   36個月   36個月
30  購機優惠價(元)   30個月   30個月  30個月  30個月  30個月  30個月   30個月   30個月   30個月   30個月
45  購機優惠價(元)   24個月   24個月  24個月  24個月  24個月  24個月   24個月   24個月   24個月   24個月

In [33]:
#regular expression 
df['month']=df['月繳金額.1'].str.extract('(\d+)個月')

In [34]:
df.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
0,購機優惠價(元),48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48
1,購機優惠價(元),iPhone 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,NaN
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,NaN
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,NaN

In [35]:
#fill the month column 
df['month']=df[ 'month'].ffill()

In [36]:
df.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
0,購機優惠價(元),48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48
1,購機優惠價(元),iPhone 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48

In [37]:
#deleat th NaN lines
df.dropna(inplace=True)

In [38]:
df.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
0,購機優惠價(元),48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48個月,48
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48
6,購機優惠價(元),iPhone 12 Pro,128GB,-,-,20300,17800,6300,4300,2300,0,48

In [40]:
#exclude "個月" inofrmation lines
df2=df[~df['月繳金額.1'].str.contains('個月')]

In [42]:
df2.head()

,月繳金額,月繳金額.1,月繳金額.2,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48
6,購機優惠價(元),iPhone 12 Pro,128GB,-,-,20300,17800,6300,4300,2300,0,48
7,購機優惠價(元),iPhone 12 Pro,256GB,-,-,23800,21300,9800,7800,5800,0,48

In [44]:
df2.columns

Index(['月繳金額', '月繳金額.1', '月繳金額.2', '$599', '$799', '$999', '$1199', '$1,399',
       '$1,599', '$1,799', '$2,699', 'month'],
      dtype='object')

In [48]:
df2.columns=['月繳金額', '机型', '容量', '$599', '$799', '$999', '$1199', '$1,399',
       '$1,599', '$1,799', '$2,699', 'month']

In [49]:
df2.head()

,月繳金額,机型,容量,$599,$799,$999,$1199,"$1,399","$1,599","$1,799","$2,699",month
2,購機優惠價(元),iPhone 12,64GB,-,-,13300,10800,0,0,0,0,48
3,購機優惠價(元),iPhone 12,128GB,-,-,14900,12400,0,0,0,0,48
4,購機優惠價(元),iPhone 12,256GB,-,-,18400,15900,4400,2400,400,0,48
6,購機優惠價(元),iPhone 12 Pro,128GB,-,-,20300,17800,6300,4300,2300,0,48
7,購機優惠價(元),iPhone 12 Pro,256GB,-,-,23800,21300,9800,7800,5800,0,48

In [53]:
df3=pandas.wide_to_long(df2,['$'],i=['月繳金額', '机型', '容量','month'],j='monthly_price',suffix='[\d,]+')

In [55]:
 df3.head()

                                                 $
月繳金額     机型        容量   month monthly_price
購機優惠價(元) iPhone 12 64GB 48    599                -
                              799                -
                              999            13300
                              1199           10800
                              1,399              0

In [56]:
df3.reset_index(inplace=True)

In [57]:
df3.head()

       月繳金額         机型    容量 month monthly_price      $
0  購機優惠價(元)  iPhone 12  64GB    48           599      -
1  購機優惠價(元)  iPhone 12  64GB    48           799      -
2  購機優惠價(元)  iPhone 12  64GB    48           999  13300
3  購機優惠價(元)  iPhone 12  64GB    48          1199  10800
4  購機優惠價(元)  iPhone 12  64GB    48         1,399      0

In [58]:
df4=df3[df3['$']!='-']

In [59]:
df4.head()

       月繳金額         机型    容量 month monthly_price      $
2  購機優惠價(元)  iPhone 12  64GB    48           999  13300
3  購機優惠價(元)  iPhone 12  64GB    48          1199  10800
4  購機優惠價(元)  iPhone 12  64GB    48         1,399      0
5  購機優惠價(元)  iPhone 12  64GB    48         1,599      0
6  購機優惠價(元)  iPhone 12  64GB    48         1,799      0

In [60]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360 entries, 2 to 383
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   月繳金額           360 non-null    object
 1   机型             360 non-null    object
 2   容量             360 non-null    object
 3   month          360 non-null    object
 4   monthly_price  360 non-null    object
 5   $              360 non-null    object
dtypes: object(6)
memory usage: 19.7+ KB

In [61]:
#conversion type 
df4['month']=df4['month'].astype(int)

/Users/shengkailin/opt/anaconda3/envs/keras/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [62]:
df4['monthly_price']=df4['monthly_price'].map(lambda e: int(e.replace(',','')))

/Users/shengkailin/opt/anaconda3/envs/keras/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [63]:
df4['$']=df4['$'].astype(int)

/Users/shengkailin/opt/anaconda3/envs/keras/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
df4.head()

       月繳金額         机型    容量  month  monthly_price      $
2  購機優惠價(元)  iPhone 12  64GB     48            999  13300
3  購機優惠價(元)  iPhone 12  64GB     48           1199  10800
4  購機優惠價(元)  iPhone 12  64GB     48           1399      0
5  購機優惠價(元)  iPhone 12  64GB     48           1599      0
6  購機優惠價(元)  iPhone 12  64GB     48           1799      0

In [65]:
df4['total_price']=df4['$']+df4['month']*df4['monthly_price']

/Users/shengkailin/opt/anaconda3/envs/keras/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
df4.head()

       月繳金額         机型    容量  month  monthly_price      $  total_price
2  購機優惠價(元)  iPhone 12  64GB     48            999  13300        61252
3  購機優惠價(元)  iPhone 12  64GB     48           1199  10800        68352
4  購機優惠價(元)  iPhone 12  64GB     48           1399      0        67152
5  購機優惠價(元)  iPhone 12  64GB     48           1599      0        76752
6  購機優惠價(元)  iPhone 12  64GB     48           1799      0        86352

In [68]:
df4.sort_values('total_price')

,月繳金額,机型,容量,month,monthly_price,$,total_price
336,購機優惠價(元),iPhone 12 mini,64GB,24,599,19300,33676
344,購機優惠價(元),iPhone 12 mini,128GB,24,599,20900,35276
240,購機優惠價(元),iPhone 12 mini,64GB,30,599,18300,36270
288,購機優惠價(元),iPhone 12,64GB,24,599,22300,36676
337,購機優惠價(元),iPhone 12 mini,64GB,24,799,18300,37476
...,...,...,...,...,...,...,...
31,購機優惠價(元),iPhone 12 Pro,128GB,48,2699,0,129552
7,購機優惠價(元),iPhone 12,64GB,48,2699,0,129552
39,購機優惠價(元),iPhone 12 Pro,256GB,48,2699,0,129552
47,購機優惠價(元),iPhone 12 Pro,512GB,48,2699,1800,131352
95,購機優惠價(元),iPhone 12 Pro Max,512GB,48,2699,5800,135352